.form-product-search {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 100%;
}

.form-product-search input {
    margin-left: 0;
    width: 200px;
    padding: 5px;
}

.shop-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13rem;
    height: 350px;
    border: 1px red solid;
}

.shop-item img {
    width: 100px;
}

.shop-item-info {
    padding: 10px;
}

.item-price span {
    font-size: 1.2em;
    font-weight: bold;
}